h1,
h2,
h3,
h4,
h5,
h6 p address {
    font-family: 'Roboto', sans-serif !important;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 150px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-image-1 {
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    height: 500px;
}

.carousel-image-2 {
    background: url(../img/banner1.jpg);
    background-size: cover;
    height: 500px;
}

.carousel-image-3 {
    background: url(../img/banner1.jpg);
    background-size: cover;
    height: 500px;
}

.banner-img {
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    width: 100%;
}

.navbarGap {
    margin-top: 60px;
}

.px118 {
    padding-left: 118px;
}

.brandColor {
    color: #1261A0 !important;
}

.bb {
    background-color: #1261A0 !important;
    color: white !important;
}

.bc {
    color: #1261A0;
}

.bc1 {
    color: #3895D3;
}

.text-gray {
    color: #a09c9c !important;
}

.logoImg {
    width: 25px;
}

.corber-button {
    border-radius: 46px;
}

.openSans {
    font-family: 'Montserrat', sans-serif !important;
}

.topBottomMargin {
    margin-bottom: 5rem! important;
}

.tb {
    margin-bottom: 5rem! important;
    margin-top: 5rem !important;
}

.submitButton {
    background-color: #1261A0 !important;
    border-color: #274cad !important;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.topBottomPadding {
	padding-top: 5rem! important;
	padding-bottom: 5rem! important;
}


.borderI {
    border: 2px solid white !important;
}